*{margin: 0; padding: 0;}
html{height: 100%;}
body{height: 100%;}
ul li{list-style: none;}
a{
    font-size: 12px;
    text-decoration: none;
    line-height: 20px;
}
#select{
    width: 200px;
    position: absolute;
    right: 0; bottom: 0;
    background: #fff;
}
#select #title{
    width: 200px;
    border: 1px solid #ccc;
    padding: 1px 0 1px 10px;
    box-sizing: border-box;
}
#select #title a{background: url(../images/icon.gif)
        no-repeat; background-position: 100% 0;}
#select #title a.on{background-position: 100% -20px;}
#select a{display: block; height: 20px; line-height: 20px;}
#select #list{
    box-sizing: border-box;
    border: 1px solid #ccc;
    position: absolute;
    left: 0; top: -94px;
    width: 200px;
    background: #fff;
    display: none;
}
#select #list.on{display: block;}
#select #list a{
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
#select #list a:hover,
#select #list a:focus{
    background: #f60;
}
#con{
    background: #ddd;
    height: 100%;
}




