textarea{
    width: 300px; height: 200px;
    border: 1px solid #000;
}
textarea.on{
    background: #f60;
    color: #fff;
}
#display{
    width: 300px; height: 100px;
    border: 1px solid #000;
    word-wrap: break-word;
    word-break: keep-all;
    overflow: auto;
}



