*{margin: 0; padding: 0;}
#wrap{height: 2000px;}
#up{
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    transition: all 0.5s ease-in-out; /* all - 모든 속성 */
    opacity: 0;
    visibility: hidden; /* 숨기기 */
}
#up.on{
    opacity: 1;
    visibility: visible;
}
#up a{
    display: block;
    padding: 20px;
    background: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
}



